*:focus {
  border-radius: 1px !important;
  opacity: 1 !important;
  background: rgba(153, 0, 255, 0.25);
  text-shadow: none !important;
  outline-width: 0 !important;
  transition-duration: all 0 !important;
  box-shadow: 0 0 0 3px #9900ff,
              0 0 0 4px #6600aa !important;
}
